 html{
      height: 100%;
 }
 body{
     background-image: linear-gradient(to top, #a2f3f2, #eaf7ff, #ffffff);
     height: 100%;
     background-position: center;
     background-repeat: no-repeat;
     margin: 0;
     background-attachment: fixed;
 }
#log {
     text-align: center;
     font-size: 30px;
     font-family: 'Raleway', sans-serif;

}

#ind{
     font-family: 'Raleway', sans-serif;
}
#ind h1{
     text-align: center;
     font-size:35px;
     margin-bottom: 20px;
     margin-top: 20px;
}
#ind img{
display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 300px;
}
#info{
    font-family: 'Special Elite', cursive;
    font-style: bold;
    text-align: center;
    font-size: 40px;
}

#login img{
display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
  margin-top: 10px;
}
#login p{
    font-family: 'Special Elite', cursive;
    font-style: bold;
    text-align: center;
    font-size: 15px;
}
#login {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
.table{
     font-size: 15px;
     margin-left: auto;
     margin-right: auto;
     border-radius: 5px;
     float: none;
     font-family: 'Raleway', sans-serif;

}
.table td,th,tr{
     text-align: center;
}
#view{
     font-size: 15px;
     font-family: 'Raleway', sans-serif;

}
#edit{
     font-size:15px;
     font-family: 'Raleway', sans-serif;
}
#edit .form-control{
     height:30px; 
     width: 100px;
     font-size:15px;
     font-family: 'Raleway', sans-serif;
     margin-left: 20px;
}
#addd{
     font-size:15px;
     font-family: 'Raleway', sans-serif;
}
#addd .form-control{
     height:30px; 
     width: 100px;
     font-size:15px;
     font-family: 'Raleway', sans-serif;
     margin-left: 20px;
}
#acz{
     font-size:15px;
     font-family: 'Raleway', sans-serif;
}
#acz .form-control{
     height:30px; 
     width: 200px;
     font-size:15px;
     font-family: 'Raleway', sans-serif;
     margin-left: 20px;
}

#form{
     border: 1px solid #f1f0f0;
     background: #ECE9E6;
     /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
     /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #FFFFFF, #ECE9E6);
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */





     padding: 10px;
     margin-right: 100px;
     margin-left: 120px;
     border-radius: 50px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

}
#viewc{
      background-color: azure;
      padding: 10px;
      margin-right: 100px;
      margin-left: 120px;
      border-radius: 50px;
     box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
     0 6.7px 5.3px rgba(0, 0, 0, 0.048),
     0 12.5px 10px rgba(0, 0, 0, 0.06),
     0 22.3px 17.9px rgba(0, 0, 0, 0.072),
     0 41.8px 33.4px rgba(0, 0, 0, 0.086),
     0 100px 80px rgba(0, 0, 0, 0.12);
}